@media screen and (max-width: 750px){
    .alto{
        height:300px;
    }
    .bb{
        display: none;
    }
    .lmenu1{
        margin-left: 0px;
    }
    .COLOR{
        margin-bottom: 40px;
    }
    .mrb{
        margin-bottom: 100px;
    }
    footer{
        .father{display: none;} 
   }
   .footer{
       padding: 20px;
       background-color: gray;
   }  
}

@media screen and (min-width: 950px){
    .footer{
        display: none;
    }
    .titulo{
        visibility: hidden;
    }
}